@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

html { scroll-behavior: smooth;}

body {
    background-color: white;
    background-image: url('/image/back.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Sawarabi Gothic', sans-serif;
}

.section:nth-of-type(even) {
    background-color: rgb(240, 239, 237);
}

.section {
    padding: 80px;
    min-height: 800px;
}

.fixed {
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
}

.fixed ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.fixed li {
    list-style: none;
    padding: 0 24px;
    font-size: 20px;
    margin: 0;
    letter-spacing: .05em;
    color: red;
    font-weight: bold;
}

.fixed li a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 10px 0;
    outline: none;
}
.fixed li a:link { color: #000; }
.fixed li a:visited { color: #000; }
.fixed li a:active { color: #000; }

#Top {
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;  
}

#Top h1{
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 70px;
}

#Top h1{
    animation-name:fadeUpAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
}

@keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.inner {
    max-width: 800px;
    margin: 0 auto;
}

.inner h1 {
    text-align: center;
    font-size: 65px;
    margin: 10px;
}
.inner h2 {
    text-align: center;
}

.inner img {
    margin-right: 20px;
}

.chart canvas {
    text-align: center;
    margin: 0 auto;
    width: 400px;
}

footer {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(41, 41, 41);
    color: rgb(77, 77, 77);
    font-size: 12px;
}

.card {
    max-width: 800px;
    margin: 30px auto;
    border-radius: 5px 5px 5px 5px;
    border: solid 2px;
}

.card .head {
    background-color: rgb(230, 230, 230);
    border-radius: 5px 5px 0px 0px;
    text-align: center;
}

.card .head p {
    margin: 0;
    padding-left: 10px;
    color: rgb(68, 68, 68);
    font-weight: bold;
    font-size: 20px;
}

.card .content .tool{
    padding: 20px;
    display: flex;
}

.card .content .tool .item {
    margin: 0 auto;
}
.card .content .detail {
    margin: 10px 20px 30px 40px;
}

.star5_rating{
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC; 
    font-size: 20px;
}

.star5_rating:before, .star5_rating:after{
    content: '★★★★★';
}

.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #000000; 
}

.star5_rating[data-rate="5"]:after{ width: 100%; }
.star5_rating[data-rate="4"]:after{ width: 80%; }
.star5_rating[data-rate="3"]:after{ width: 60%; }
.star5_rating[data-rate="2"]:after{ width: 40%; }
.star5_rating[data-rate="1"]:after{ width: 20%; }